@import url('https://fonts.googleapis.com/css2?family=Alata&family=Arsenal&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;400&family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Configuration de la barre de naviguation */

nav {
    position: sticky;
    width: inherit;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: #ffffff;
    box-shadow: inset 0px -1px 0px #c5c5c6;
    margin-bottom:0px;
    top:0;
    z-index: 10;
}

/* Configuration de l'icone à côté de mon Nom + Prénom */

.nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

.nav-icon img {
    width: 40px;
    transform: rotate(-17deg) translateX(5px);
}

/* Représente le hamburger en haut à gauche */

.menu {
    display: none
}

/* Concerne les Navlinks, les liens dans la barre de menu */

.navlinks-container a {
    margin: 0 40px;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Alata', sans-serif;
    text-decoration: none;
    color: #818181;
    display: inline-block;
    position: relative;
}

.navlinks-container a.active{
    color: #d093ff;
}

/* Animation barre de menu */

.navlinks-container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: .8px;
   transform: scaleX(0);
   transform-origin: left;
   background: #d093ff;
   transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
    transform: scaleX(1);
}

.nav-authentication{
    margin-left: auto;
}

.user-toggler {
    display: none;
}

@media (max-width: 1200px) {

    /* sous menu gestion ecran reduit */

    .parent-item {
        position: relative;
        font-size: 1.2rem;
    }

    .navlinks-container .parent-item a {
        font-size: 1.2rem;
    }

    .sub-menu {
        display: block;
        position: relative;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        font-size: 1.2rem; /* taille de la police */
        width: auto; /* la largeur selon vos besoins */
        z-index: 1;
    }

    /* menu */

    nav {
        padding: 15px 20px;
        position: fixed;
        width: 100%;
    }

    .nav-icon {
        order: 2;
        margin: 0 auto;
    }

    .nav-icon span {
        font-size: 35px;
    }

    .nav-icon p {
    margin-right: 50px;
    }

    .main-navlinks {
        order:1;
    }

        /*hamb*/
    .menu {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background: #ffffff;/*carré sur l'hamb'*/
        align-items: center;
        position: relative;
    }

    .menu span {
        display: block;
        width: 100%;
        height: 2.5px; /* largeur de l'hamburger */
        background: #000000; /* couleur de l'hamburger*/
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }

    .menu span:nth-child(1),
    .menu span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    .menu span:nth-child(1) {
        transform: translateY(7px);

    }

    .menu span:nth-child(3) {
        transform: translateY(-7px);

    }

    .menu.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }

    .menu.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    .menu.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: #ffffff;/*couleur de la bande après clic sur l'hamb*/
        font-size: 4em ;
        top: 100%;
        left: 0;
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid #00000076;/*bord droit de la bande*/
        transform: translate(-100%); /*on le met à gauche (caché)*/
    }

    .open {
        transform: translate(0%);
    }

    .navlinks-container a {
        font-size: 18px;
        margin: 10px 0px;
    }

    .home {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: -40px;
    }

    .home .home-content h3 {
        font-size: 1.6rem;
        padding: 0;
    }

    .home .home-content h1 {
        font-size: 3rem;   
    }

    .home .home-content p {
        font-size: 1rem;
        font-family: 'Alata', sans-serif;
        margin-top: -13px;
    }
    


    .home .btn {
        font-size: 0.7rem;
    }

    .home .home-img img {
        width: 60%;
        margin-top: -40px;
        margin-left: 60px;
    }

    .social-media a {
        width: 7rem;
    }
    
    section .contact {
        margin-top: -20px;
        padding: 1rem 9% 2rem;
    }

    .about {
        margin-top: 0;
        flex-direction: column-reverse;
    }

    .about .about-content {
        margin-top: 20px;
        margin: 60px;
    }

    .heading h2 {
        margin-top: 10px;
    }

    .about .about-content .btn {
        margin-left: 10px;
        font-size: 0.7rem;
    }
    
    .about .about-img img {
        margin-top: -120px;
        width: 250px;
    }

    .about .about-content h2 {
        font-size: 2.2rem;
        margin-top: 10px;
    }

    .about .about-content h3 {
        font-size: 1.5rem;
    }

    .about .about-content p {
    font-size: 1rem;
    margin: 2rem 0 3rem;
    }

    .contact {
        padding: 1rem 9% 2rem;
    }

    .fillter-buttons {
        margin: 2.5rem 0;
    }

    .skills_bar {
        width: 39vh;
    }

    .skills_header {
        width: 47vh;
    }

    .skills_number {
        width: 25vh;
    }

}

@media (max-width:500px){
    .nav-icon img {
        width: 30px;
    }
    .nav-icon span {
        font-size: 35px;
    }

    .skills_header{
        width: inherit;
    }

}

img{
    width: 20px;
}

/* titre de la page*/
.nav-icon p {
    font-family: 'Alata', sans-serif;
    font-size: 2rem;
    margin-left: 10px;
    font-weight: 400;
    color: #818181;/*couleur du titre*/
}

/* Corps de la page */

body {
    /*background-color: #ffffff;*/
    /*background-image: url('./technology.jpg');
    /*background-repeat: no-repeat;*/
    background-size: cover;
    margin: 0;
}

header{
    background-color: rgba(255, 255, 255, 0.607);
    min-height: 100px;
    height: fit-content;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*
#header {
    margin: -30px;
    width: 105%;
    height:93vh;
    background: url(images/work.jpeg);
    background-size: cover;
    background-position: 85% 50%;
   
}
*/


footer {
    background: #ffffff;
}

/* sous menus */


/* Pour aligner le menu "À propos de moi" avec les autres menus */
.parent-item {
    display: inline-block;
    position: relative;
}

.parent-item a {
    display: block;
    padding: 8px 0px;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Alata', sans-serif;
    text-decoration: none;
    color: #818181;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; /* couleur de fond souhaitée */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 60px;
}

.parent-item:hover .sub-menu {
    display: block;
}

.navlinks-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#portfolio {
    margin-bottom: 70px;
    background-color: #31255f;
}

#portfolio h2 {
    color : white;
}