@import url('https://fonts.googleapis.com/css2?family=Arya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

section {
    margin-top: -90px;
    min-height: 107vh;
    padding: 5rem 9% 2rem;
    box-shadow: 40px 10px 40px rgb(105, 8, 104)
    
}

.home-content {
    margin: 48px;
}

section .about-content {
    margin-top: 100px;
}

.home {
    display: flex;
    justify-content: center;
}

.home-img img {
    width: 35vw;
    margin-top: 50px;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.7rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: #fff;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: #d093ff;

}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
    margin: -6px;
      margin-top: -6px;
      margin-bottom: -6px;
    margin-top: -4px;
    margin-bottom: 0px;
  }

.home-content p {
    font-size: 1rem;
    color: #fff;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem #d093ff;
    border-radius: 50%;
    font-size: 2rem;
    color: #d093ff;
    margin: 2rem 1.5rem 3rem 0;
    transition: .5s ease;
    margin: 8px;
    margin-left: 50px;
}

.social-media a:hover{
    background: var(--main-color);
    color: #fff;
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #d093ff;
    border-radius: 1.2rem;
    box-shadow: 0px 0 0 #d093ff;
    margin: 10px;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    text-decoration: none;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: #f6edff;
    padding-top: 0;
    padding-bottom: 80px;
    border-color: #000000;
    margin-top: 2px;
    margin-bottom: 90px;
}

.about-content {
    /* background: #ffffff; */
    border-radius: 3%;
    box-shadow: #000000;
}

/* POLICE !! */
.home-content p {
    font-family: 'Alata', sans-serif;
}

.home-content h1 {
    font-family: 'Alata', sans-serif;
}

.home-content h3 {
    font-family: 'Alata', sans-serif;
}

.about-content p {
    font-family: 'Alata', sans-serif;
}

.about-content h2 {
    font-family: 'Alata', sans-serif;
}

.about-content h3 {
    font-family: 'Alata', sans-serif;
}

.contact-p p {
    font-family: 'Alata', sans-serif;
}

.contact h1 {
    font-family: 'Alata', sans-serif;
}


/* Section about */
.about-img img {
    width: 25vw;
    border-radius: 20%;
    margin-top: 95px;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about .about-content h2 {
    text-align: left;
    line-height: 1.2;
    /* margin-top: 100px; */
}

.about-content h3 {
    font-size: 2.6rem;;
}

.about-content p {
    font-size: 1rem;
    margin: 2rem 0 3rem;
}

/* footer */
footer {
    background: #f4f4f6;
    padding: 1rem 9%;
}

/* Styles pour le conteneur du contenu du footer */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles pour le texte du footer */
.footer-text {
    font-size: .8rem;
    margin: 0; /* Supprime les marges par défaut pour éviter les espaces indésirables */
}

/* Styles pour l'icône du footer */
.footer-iconTop a {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    background: #4fbae5;
    border-radius: 0.8rem;
    color: #755396;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem #ddbdfe;
    color: #fff;
}

/* SKILLS !!! */

.skills_container {
    row-gap: 0;
    margin-top: -90px;
}

.skills_data{
    width:60%;
}

@media(min-width:500px){
    .skills_header {
        width:70vh;
    }
}


.skills_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    width: inherit;
}

.skills_icon,
.skills_arrow {
    font-size: 2rem;
    color: #582480;
}

.skills_icon {
    margin-right: 25px;
}

.skills_title {
    font-size: 1.2rem;
}

.skills_subtitle {
    font-size: var(--small-font-size);
    color: #582480;
}

.section_subtitle {
    font-size: var(--small-font-size);
    text-align: center;
    color: #582480;
    margin-bottom: 20px;
    width: 100%;
    display: block;
  }

.skills_arrow {
    margin-left: auto;
    transition: 0.25s;
}

.skills_list {
    row-gap: 1.5rem;
    padding-left: 2.7rem;
    display: grid;
  }

.skills_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills_name {
    font-size: .9rem;
    font-weight: medium;
}

.skills_bar,
.skills_percentage {
    height: 5px;
    border-radius: .25rem;
}

.skills_bar {
    background-color: #8c72a0;
}

.skills_percentage {
    display: block;
    background-color: #ffffff;
}

.div_skill_list{
    margin-top: 20px;
}

@media screen and (max-width:1000px) {
    .skills-container {
        flex-direction: column;
    }
}

@media screen and (min-width:1000px) {
    .skills-container {
        flex-direction: row;
    }
}

/* skills bar */

.skills_python {
    width: 70%;
}

.skills_c {
    width: 50%;
}

.skills_html {
    width: 80%;
}

.skills_css {
    width: 80%;
}

.skills_php {
    width: 50%;
}

.skills_js {
    width: 30%;
}

.skills_sql {
    width: 60%;
}

.skills_myadmin {
    width: 70%;
}

.skills_cisco {
    width: 70%;
}

.skills_ws {
    width: 70%;
}

.skills_pkt {
    width: 80%;
}

.skills_clsv {
    width: 65%;
}

.skills_section {
    background: #b991e1;
    padding-top: 3rem;
    padding-bottom:-21rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skills-container{
    display: flex;
    justify-content: space-evenly;
}

.skills_close .skills_list {
    height: 0;
    overflow: hidden;
}

.skills_open .skills_list {
    height: max-content;
    margin-bottom: 20px;
}

.skills_open .skills_arrow {
    transform: rotate(-180deg);
}

.skills_number {
    color: #582480;
    font-size: .9rem;
}

.skills_section {
    margin-bottom: 90px;
}

/* Portfolio  section */

.fillter-buttons {
    margin: 2rem;
    text-align: center;
    padding: 20px;
}

.fillter-buttons .btn {
    background: #ddbdfe;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    color: #582480;
}

.portfolio .main-text {
    text-align: center;
}

.fillter-buttons .btn:hover {
    color: #ffffff;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(270px , 1fr));
    gap: 2rem;
}

.port-box {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #cd8bff;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid #ddbdfe;
    box-shadow: #755396;
}

.port-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.port-image img {
    width: 100%;
    opacity: .5s;
    height: 100%;
    transition: .5s;
}

.port-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,.2),#582480); /* Couleur du fond de la case lorsque survolée par la souris */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding: 0.2rem;
}

.port-box:hover .port-content {
    opacity: 1;
}

.port-box:hover .port-image img {
    transform: scale(1.1);
}

.port-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.port-content p {
    font-size: .8rem;
    margin: 5px 0 15px 0;
    color: #fff;
}

.port-content a {
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--hover-color);
    outline: 2px solid #fff;
}

.port-content a  i {
    font-size: 1.3rem;
    color: var(--second-bg-color);

}

.section_title {
    margin-top: 23px;
    text-align: center;
}
/* Skills arrows */
#arrow {
    display: block;
  }
  
  /* Requête pour cacher l'élément lorsque la fenêtre est réduite à 600 pixels ou moins */
  @media (max-width: 600px) {
    #arrow {
        margin-left: 10%;
    }
    .skills_container {
        row-gap: 0;
        margin-top: -65px;
      }

    .section_title {
        margin-top: 69px;
        text-align: center;
    }
    
  }

/* Drapeaux !!!!! */

.skills-flags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 23px;
}

.flag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-flag {
    text-align: center;
}

.img-flag{
    width: 20%;
}

@media(max-width:1000px) {
    .skills-flags{
        flex-direction: column;
    }
    .flag{
        margin-bottom: 20px;
    }
}

.flag-border {
    border: solid #582480 2px;
    border-radius: 30px;
  }