/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arya&family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

/* General Styling */
body {
  font-family: 'Alata', sans-serif;
  margin: 0;
}

/*sections */

.informatique-section {
  background: #e6edda;
  margin: 10px;
}

.informatique-section-thales {
  background: #50abe842;
  margin: 10px;
  margin-top: 20px;
}

.informatique-web {
  background: #d4b8a069;
  margin: 10px;
  margin-top: 20px;
}

.réseaux-section {
  background: #d7edfa;
  margin: 10px;
  margin-top: 20px;
}

.comm-section {
  background: #b0ddc0;
  margin: 10px;
    margin-top: 10px;
  margin-top: 20px;
}

.cyber-section {
  background: #ffe08461;
  margin: 10px;
    margin-top: 10px;
  margin-top: 20px;
}

.video-container {
  margin-left: 40px;
  margin-top: -115px;
}

#title-header{
  color: #d4b8a0;
}

.rapport-video {
  display: flex;
  margin-top: -30px;
  border-radius: 20px;
}

/* Header Styles */
#header-chameleon {
  background: url('images/petit_cameleon.png');
  background: contain;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1px;
  text-align: center;
}

#header-hygiène {
  background: linear-gradient(to right,#f2e4c9, #c66359);
  background: contain;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1px;
  text-align: center;
}

#header-chat {
  background: url('images/brown_pastel_abstract_wavey_background_with_leaves.jpg');
  background: contain;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1px;
  text-align: center;
}

#header-thales {
  background: url('images/portf-img/pexels-pixabay-220201.jpg');
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
  background: contain;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1px;
  text-align: center;
}

#header-sae21 {
  background: url('images/portf-img/reseau_entreprise.jpeg');
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
  background: contain;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1px;
  text-align: center;
}

#header-infographie {
  background: linear-gradient(to right, #a2e6899e, #4ec6f4);
  background: contain;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1px;
  text-align: center;
}

.head-text h1 {
  font-size: 60px;
  margin-top: 125px;
  text-align: center;
  color: #fff;
  font-family: 'Days One', sans-serif;
}

.head-text-sae21 {
  font-size: 25px;
  margin-top: 125px;
  text-align: center;
  color: #fff;
  font-family: 'Days One', sans-serif;
}

.head-text-hygiène {
  font-size: 25px;
  margin-top: 125px;
  text-align: center;
  color: #000000;
  font-family: 'Days One', sans-serif;
}

.head-text-infographie {
  font-size: 25px;
  margin-top: 50px;
  text-align: center;
  color: #000000;
  font-family: 'Days One', sans-serif;
}

/* Project Description Styles */
.desc-title {
  margin-top: 20px;
  margin-left: 40px;
  font-weight: bold;
  font-family: 'Alata', sans-serif;
}

.desc-title {
  margin-top: 20px;
  margin-left: 40px;
  font-weight: bold;
  font-family: 'Alata', sans-serif;
}

.pentester-infographie {
    width: 50%;
    margin-left: 28%;
    margin-top: 30px;
}

.info {
  text-align: center;
  margin-top: 20px;
}

.info-left {
  margin-left: 40px;
}
/* DESC DETAILS */

.desc-detail-chat {
  grid-template-columns: 2fr 1fr; /* Adjust the values as needed */
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 15px;
  border-radius: 5px;
  font-family: 'Alata', sans-serif;
  background-color: #d4b8a069;
  overflow: hidden; /* Add this line to remove overflow */
}

.desc-detail-hygiène {
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 15px;
  border-radius: 5px;
  font-family: 'Alata', sans-serif;
  background-color: #f0dec4a3;
  color: black;
  overflow: hidden;
}

.desc-detail-thales {
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 15px;
  border-radius: 5px;
  font-family: 'Alata', sans-serif;
  background-color: #2600ff26;
  color: black;
  overflow: hidden;

}

.desc-detail-sae21 {
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 15px;
  border-radius: 5px;
  font-family: 'Alata', sans-serif;
  background-color: #7b74a326;
  color: black;
  overflow: hidden;

}

.desc-detail {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 15px;
  border-radius: 5px;
  font-family: 'Alata', sans-serif;
  background-color: #d4b8a069;
  overflow: hidden; /* Add this line to remove overflow */
}

.desc-detail {
  background-color: #8dad5838;
}

.desc-detail-chat {
  background-color: #d4b8a069;
}

/* Adjust the width of the first column as needed */
.desc-detail .desc-title {
  grid-column: 1 / 2;
  white-space: nowrap; /* Optional: Prevent line breaks in the first cell */
}

/* Adjust the width of the second column as needed */
.desc-detail .desc-content {
  grid-column: 2 / 3;
}

.li-chameleon, .li-chat, .li-thales, .li-sae21 {
  margin-top: 2px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Alata', sans-serif;
}

ul {
  margin-left: 20%;
  margin-top: 20px;
}

.button_slide_info {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-out 0.4s;
  text-decoration: none;
  font-family: 'Alata', sans-serif;
  height: 70px;
  margin: unset;
  margin-top: unset;
  margin-left: unset;
  margin-left: 40px;
  margin-top: 15px;
}


/* Responsive Styles */
@media (max-width: 1100px) {
  .head-text h1 {
    font-size: 60px;
    margin-top: 140px;
  }

  .desc-title,
  .desc-detail,
  .li-chameleon,
  .li-chat,
  .li-thales,
  .li-sae21 {
    margin-left: 20px;
  }

  .button_slide_chat {
    margin-left: 9vh;
  }

  .head-text-sae21 {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    color: #fff;
    font-family: 'Days One', sans-serif;
  }

  .head-text-hygiène {
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
    color: #000000;
    font-family: 'Days One', sans-serif;
  }

  .container-sae21 {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }

  
}


@media (min-width: 1200px) {
  .preuves-thales {
    display: flex;
    flex-direction: row;
  }

  .sae21-text {
    margin-left: 40px;
    margin-top: -50px;
    margin-bottom: -10px;
  }

  .button_slide_thales {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    padding: 18px 36px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-out 0.4s;
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    height: 70px;
    margin: unset;
  }

  .head-text-infographie {
    font-size: 25px;
    margin-top: 125px;
    text-align: center;
    color: #000000;
    font-family: 'Days One', sans-serif;
  }

  .button_slide_sae21 {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    padding: 18px 36px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-out 0.4s;
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    height: 70px;
    margin: unset;
    margin-left: 100px;
  }


  .button_slide_info {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    padding: 18px 36px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-out 0.4s;
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    height: 70px;
    margin: unset;
    margin-top: unset;
    margin-left: unset;
    margin-left: 40px;
    margin-top: 15px;
  }

  .thales_button_container{
    justify-content: space-between;
  }

  .container-sae21 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -110px;
  }
}



/* Button Styles */
.button_slide {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-out 0.4s;
  text-decoration: none;
  margin-bottom: 6vh;
  font-family: 'Alata', sans-serif;
}

.button_slide_chat {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-out 0.4s;
  text-decoration: none;
  margin-bottom: 6vh;
  font-family: 'Alata', sans-serif;
  margin-left: 17vh;
}

.button_slide_thales {
  color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    padding: 18px 36px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-out 0.4s;
    text-decoration: none;
    margin-bottom: 6vh;
    font-family: 'Alata', sans-serif;
    height: 70px;
    margin: unset;
  
}

.slide_down:hover {
  box-shadow: inset 0 0 0 50px #fff;
}

/* Link Styles */
a {
  text-decoration: none;
  color: #000;
}

/* Container Styles */
.container-chameleon,
.container-site-chat,
.container-thales {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}


/* Description and Photo Styles */
#description,
#description-chat,
#description-thales {
  flex: 2;
}

.photo-cameleon {
  width: 32%;
  margin-top: 0px;
}

.photo-chat {
  width: 55%;
  margin-left: 15%;
  margin-top: 88px;
  border-radius: 10px;
}

.logo-thales {
  margin-left: 0%;
  margin-top: 88px;
  border-radius: 10px;
  width: 400px;
}

.logo-sae21 {
  width: 90%;
  margin-top: 17%;
}

#diagramme-cameleon {
  width: 61%;
}

h3 {
  text-align: center;
  margin-top: 30px;
}

.desc-detail #description{
  margin-top: unset;
}

.cameleon-image-container{
  display: flex;
  align-items: center;
  flex: 1.4;
  justify-content: space-evenly;
}

#description-thales {
  background-color: #71a1ec4d ;
}



.img-thales-container {
  display: flex;
}

.contain-thales {
  display: flex;
}

.container-sae21 {
  display: flex;
}

.slider-container {
  position: relative;
  max-width: 1000px;
  margin: 50px auto;
}

.slider {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
}

.slide-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.slide-button {
  font-size: 16px;
  padding: 18px 36px;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
}

.prev {
  left: 0px;
}

.next {
  right: 10px;
}

.thales_button_container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1200px) {
  .head-text h1 {
    font-size: 60px;
    margin-top: 100px;
  }

  .head-text .h1-thales {
    font-size: 60px;
    margin-top: 30px;
  }

  .desc-title,
  .desc-detail,
  .li-chameleon,
  .li-chat,
  .li-thales,
  .li-sae21 {
    margin-left: 10px;
  }

  .desc-title .thales-desc-title p{
    margin-left: 40px;
  }

  .container-chameleon, .container-site-chat, .container-thales {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  /*.photo-cameleon {
    width: 71%;
    margin-left: 15%;
    margin-top: 50px;
    margin-left: 56px;
  }*/
    
  h3 {
    margin-left: 10px;
    margin-top: 30px;
  }

  .cameleon-image-container{
    margin-top: 10px;
  }

  .contain-thales {
    display: flex;
    flex-direction: column;
  }

  .contain-sae21 {
    display:flex;
    flex-direction: column;
  }

  .slide-button{
    padding : 18px 18px;
  }

  .logo-thales{
    margin-top: 0px;
  }

  .slider-container{
    margin-top: 0px;
  }

  .rapport-video {
    display: flex;
    margin-top: 160px;
    flex-direction: column;
  }

}

/* ---- MENU ---- */

.menu-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.menu-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
}

.menu-options {
  display: none;
  position: absolute;
  bottom: 60px;
  right: 0;
  background-color: #3498db;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu-options a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.menu-options a:hover {
  background-color: #9be1b6;
}