@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
}

.contact{
    background-image: url(./images/portf-img/3cab4cdb2603f3de485b64df9b1a9031.jpeg);
    min-height: 100vh;
}

.arbres-transition section {
    background: url(./images/portf-img/wallhaven-xlqool.png);
    min-height: 30vh;
}

.contact h1 {
    text-align: center;
    color: #fff;
    margin-top: 100px;
    font-size: 3rem;
}

.contact-p p {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

.contact-info-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info {
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.card {
    background: #588c82e3;
    padding: 0 20 px;
    margin: 0 50px;
    width: 49vh;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border-radius: 45px;
    font-family: "Font Awesome 6 Free";
}

.card a {
    text-decoration: none;
    color: white;
    font-family: 'Alata', sans-serif;
}

.card-icon {
    font-size: 28px;
    background: #d1c9b2;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
    font-family: "Font Awesome 6 Free";
}

.card:hover .card-icon {
    background: none;
    color: #d1c9b2;
    transform: scale(1.6);
    font-family: "Font Awesome 6 Free";
}

.card p{
    margin-top: 20px;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
    font-family: 'Alata', sans-serif;
}

.card:hover p {
    max-height: 40px;
    opacity: 1;
    font-family: 'Alata', sans-serif;
}

@media screen and (max-width:1000px) {
    .contact-info {
        flex-direction: column;
    }


    .card {
        width: 114%;
        max-width: 300px;
        margin: 10px 0;
        margin-top: 10px;
    }
}

   @media screen and (max-width:1200px) {
    .card{
        width: 39vh;
        height: 39vh;
        margin-right: 0px;
    }
   }

.container-contact {
    background-color: #6a988e;
    border-radius: 51px;
}

@media(min-width:1201px){
    .container-contact {
        background-color: #6a988e;
        margin-left: 222px;
        margin-right: 222px;
        padding-bottom: 20px;
        border-radius: 51px;
    }
}
