@import url('https://fonts.googleapis.com/css2?family=Arya&family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=DM+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');

body {
    background: #080808;
}

#header {
    background-image: url('images/formation/cyber.jpg');
    height: 45vh;
    background-size: cover;
    background-position: center;
    padding: 1px;
    text-align: center;
    opacity: 0.8;
    z-index: 2;
    position: relative;
}

*{
    font-family: 'Alata';
}

.head-text h1 {
    font-size: 60px;
    margin-top: 200px;
    text-align: center;
    font-family: 'Rubik Marker Hatch', cursive;
    color: #fff;
}

h2{
    font-family: 'Alata';
    font-size: 1.6rem;
}

/* QUALIFICATIONS */
.qualification_tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: var(--mb-2);
}

.qualification {
    background: #0c284a;
    position: relative;
    z-index: 56;
    height: 190vh;
}

.qualification_container {
    background: #fff;
    height: fit-content;
    padding-bottom: 50px;
    margin-top: 65px;
    border-radius: 40px;
  }

.qualification_button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-mediul);
    cursor: pointer;
    margin-top: 60px;
    border-style: outset;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
}

.qualification_button:hover {
    color: #0c284a; /*surpasse les titres*/
}

.qualification_icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification .section_title {
    text-align: center;
    color: #fff;
}

.qualification_data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification_title {
    font-size: 1.2rem;
    font-weight: var(--font-medium);
    margin-left: 120px;
}

.qualification_subtitle {
    display: inline-block;
    font-size: small;
    margin-bottom: 10px;
    color: #080808;
    margin-left: 120px;
}

.qualification_calendar {
    font-size: smaller;
    color: #8bb4cc;
    margin-left: 120px;
}

.qualification_calendar-pro {
    font-size: smaller;
    color: #99bdd2;
    margin-left: 0px;
}

.qualification_rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #05050593;
    border-radius: 20%;
}

.horizontal {
    display: inline-block;
    width: 200px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.831);
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 6px;
  }

.qualification_line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transform: translate(6px, -7px);
}

.qualification [data-content] {
    display: none;
    margin-top: 60px;
}

.qualification_active[data-content] {
    display: block;
}

.qualification_desc {
    margin-left: 120px;
}

@media (max-width: 1100px) {

    #img_isen {
        width: 30%;
        display: none;
    }

    .jobs-etudiant {
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 9px;
        height: 100vh;
      }

    .ineo-work, .spar-work {
        width: 50%;
        margin-left: 20%;
        margin-top: 0px;
}

    .qualification_button {
        font-size: var(--h3-font-size);
        font-weight: var(--font-mediul);
        cursor: pointer;
        border-style: none;
        margin-left: 50px;
    }

    

      .qualification_icon {
        font-size: 4.6rem;
        margin-right: var(--mb-0-25);
      }
      
    .qualification_container {
        background: #fff;
        height: 210vh;
        margin-top: 20px;
    }

    .qualification_rounder {
        display: none;
    }

    .div_img_right {
        display: none;
    }

    .qualification_line {
        display: none;
    }

    .qualification_title {
        font-size: 1.2rem;
        font-weight: var(--font-medium);
        margin-left: 0;
    }

      
    .qualification_subtitle {
        display: inline-block;
        font-size: small;
        margin-bottom: 10px;
        color: #080808;
        margin-left: 0;
    }

    .qualification_calendar {
        font-size: smaller;
        color: #99bdd2;
        margin-left: 0;
    }

    .qualification_desc {
        margin-left: 0;
    }

    .horizontal {
        display: none;
        width: 200px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.831);
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 6px;
      }

      .qualification_data {
        display: flex;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 0;
        margin-right: 18px;
        flex-direction: column;
      }

      .qualification_data .quali_un {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 0;
        width: 104%;
      }

      .qualification_icon {
        font-size: 3.6rem;
        margin-right: 25px;
      }

      .ineo,.spar {
        flex-direction: column;
      }

      li {
        margin-left: 30px;
      }
      
      .qualification {
        background: #0c284a;
        position: relative;
        z-index: 56;
        height: 270vh;
      }
}

@media (max-width: 380px) {
    .qualification_tabs {
        display: flex;
        justify-content: space-around;
        margin-bottom: var(--mb-2);
        margin-right: 64px;
    }

    .qualification_data .quali_un {
        margin-left: -23px;
    }
}

#img_iut{
    width: 20%;
}

#img_isen{
    width: 30%;
}

#img_amir{
    width: 20%;
}

#img_ineo{
    width: 35%;
}

#img_spar{
    width: 11%;
}

#img_carrefour{
    width: 20%;
}

.div_img_left{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.div_img_right{
    display: flex;
    align-items: center;
}

#header h1 {
    margin-top: 100px;
    color: #fff;
    font-family: 'Anonymous Pro', monospace;
    font-size: 3rem;
}

@media (min-width: 1200px) {
    .qualification_container {
        background: #fff;
        height: fit-content;
        padding-bottom: 50px;
        margin-top: 65px;
        border-radius: 40px;
        padding: 35px;
    }

    .ineo-work, .spar-work {
        width: 30%;
        margin-left: 39%;
        margin-top: 80px;
     }
}


span {
    color: #99bdd2;
}

.container-work {
    display: flex;
    flex-direction: row; /* Met les éléments en colonne */
}

.ineo {
    border-bottom: 1px solid #000; /* Ajoute une bordure en bas pour la séparation */
    padding-bottom: 10px; /* Espace entre les sections */
    display: flex;
}

.title {
    color: #70bd95;
}

.jobs-etudiant {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 9px;
}

h3 {
    color: #436ea2;
}